body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

table {
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#searchForm {
    display: flex; 
    flex-direction: row;

}

#title-container{
    display: flex;
    flex-direction: column;
}

.suggestion{
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}