body {
    font-family: 'Lato', sans-serif;
    background-color: #12372A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #ADBC9F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-section {
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #436850;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #436850;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #436850;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ADBC9F;
}

#login_error_message {
    color: red;
    text-align: center;
    margin-top: 10px;
}
