nav {
    position: absolute;
}

.navbar {
    background-color: #12372A !important;

}

.navbar-brand {
    color: #FBFADA !important; /* Light cream color for the text */
}

/* Navbar links */
.navbar-nav .nav-link {
    color: #ADBC9F !important; /* Gray-green color for the links */
}

/* Navbar links - hover effect */
.navbar-nav .nav-link:hover {
    color: #FBFADA !important; /* Light cream color for the links when hovered */
}

/* Navbar toggler (hamburger icon) */
.navbar-toggler {
    border-color: #ADBC9F !important; /* Gray-green color for the toggler border */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FBFADA' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    /* SVG for the toggler icon with the light cream color */
}

/* Active or current menu item */
.navbar-nav .active>.nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show>.nav-link {
    color: #436850 !important; 
}

/* Responsive navbar - collapsed links */
@media (max-width: 576px) {
    .navbar-collapse {
        background-color: #436850 !important; /* Slightly lighter green for collapsed background */
    }
}