body, html {
    font-family: 'Lato', sans-serif;
    height: 100%;
    margin: 0;
}

.text {
    text-align: center;
    color: #fffffe;
}

.text h1 {
    font-size: 90px;
}

.text p {
    font-size: 20px;
}

.full-height {
    height: 100%;
}
.half-width {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#user-login {
    background-color: #12372A;
}
#employee-login {
    background-color: #436850; 
}

#employee-login:hover {
    background-color: #ADBC9F; 
}
#user-login:hover {
    background-color: #ADBC9F;
}